# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
ENV/

# Pytest cache
.pytest_cache/

# Allure reports
allure-results/
allure-report/

# OS-specific files
.DS_Store

# IDE settings
.idea/
.vscode/
*.swp
